.bot-reply {
  display: flex;
  justify-content: left;
  align-items: start;
  gap: 0.5em;
  margin-bottom: 22px;
  max-width: 70vw;
  .bot-chat-bubble {
    max-width: 100%; /* 确保对话框不会超出视窗宽度 */
    background-color: rgb(90, 92, 112);
    color: rgb(200, 189, 149);
    font-family: "PingFang SC", serif;
    font-size: 16px;
    word-wrap: break-word;
    overflow-wrap: break-word; /* 确保长单词正确换行 */
    border-radius: 0 20px 20px 20px;
    padding: 12px 20px 12px 20px;
    word-break: break-all;
    hyphens: auto; /* 添加断字符号 */
  }

  .bot-avatar {
    background-color: rgb(250, 233, 166);
    flex-shrink: 0;

    img {
      width: 62.5%;
      height: 62.5%;
    }
  }
  p{
    display: inline;
  }
  .show-html pre code {
    white-space: break-spaces;
    background: rgb(80, 82, 100);
    word-break: break-all;
    max-width: 100%;
    overflow-wrap: break-word;
    hyphens:auto;
  }
}