.single-chat {
  height: 90vh;
  width: 100%;
  display: flex;

  .bot-reply {
    .bot-chat-bubble {
      padding: 0 20px 0 20px;
    }
  }

  .single-chat-content {
    height: 100%;
    box-sizing: border-box;
    margin-right: 1.5vw;
    border-top: 1px rgb(51, 53, 67) solid;
    border-right: 1px rgb(51, 53, 67) solid;
    border-radius: 0 20px 20px 0;
    margin-top: 2vh;
    padding-bottom: 5vh;

    .chat-history-list {
      overflow-y: scroll;
      display: flex;
      flex-direction: column-reverse;
      box-sizing: border-box;
      padding-left: 4vw;
      padding-right: 4vw;
      height: 75vh;
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .user-input {
      margin-top: 40px;
      padding-left: 4vw;
      padding-right: 4vw;
      display: flex;
      gap: 56px;

      .send-button {
        height: 56px;
      }

      .semi-input-textarea {
        margin-top: 10px;
      }
    }
  }
}

*::-webkit-scrollbar {
  display: none;
}

.more-chat-history {
  display: flex;
  flex-direction: column-reverse;
}
