.bot-reply {
  display: flex;
  justify-content: left;
  align-items: start;
  gap: 0.5em;
  .bot-chat-bubble {
    max-width: 680px;
    background-color: rgb(90, 92, 112);
    color: rgb(200, 189, 149);
    font-family: "PingFang SC", serif;
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
    border-radius: 0 20px 20px 20px;
    padding: 12px 20px 12px 20px;
  }
  .bot-avatar{
    background-color: rgb(250, 233, 166);
    img{
      width: 62.5%;
      height: 62.5%;
    }
  }
}
.user-query {
  display: flex;
  justify-content: right;
  align-items: start;
  gap: 0.5em;
  .user-chat-bubble {
    max-width: 680px;
    background-color: rgb(212, 218, 241);
    color: black;
    font-family: "PingFang SC", serif;
    font-size: 16px;
    line-height: 24px;
    word-wrap: break-word;
    border-radius: 20px 0 20px 20px;
    padding: 12px 20px 12px 20px;
  }
  .user-avatar{
    color: rgb(245, 201, 80);
    background-color: rgb(90, 92, 112);
  }
}
.single-chat{
  height: 90vh;
  width: 100%;
  display: flex;
  .single-chat-content{
    height: 100%;
    box-sizing: border-box;
    margin-right: 1.5vw;
    border-top: 1px rgb(51, 53, 67) solid;
    border-right: 1px rgb(51, 53, 67) solid;
    border-radius: 0 20px 20px 0;
    margin-top: 2vh;
    padding-bottom: 5vh;
    .chat-history-list{
      box-sizing: border-box;
      padding-left: 4vw;
      padding-right: 4vw;
      height: 75vh;
      overflow: scroll;
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .user-input{
      padding-bottom: 4vh;
      border-bottom: 1px rgb(51, 53, 67) solid;
      padding-left: 4vw;
      padding-right: 4vw;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .send-button{
        width: 7vw;
        height: 6vh;
        background-color: rgba(245, 201, 80, 1);
        font-family: PingFang SC, sans-serif;
        color: rgba(3, 2, 2, 1);
        font-size: 16px;
        font-weight: 600;
        text-align: left;

      }
      .input-area{
        width:59vw ;
        height: 6vh;
      }
    }
  }
}
*::-webkit-scrollbar{
  display: none;
}

