.chat-block-root {
  width: 90%;

  .chat-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    border-radius: 11px;
    background-color: rgb(40, 41, 52);
    border: 1px rgb(40, 41, 52) solid;
    color: rgb(249, 249, 249);

    .icon-and-title, .operations {
      display: flex;
      align-items: baseline;
      font-size: 22px;
      line-height: 22px;

      .comment-icon {
        margin-left: 18px;
        margin-right: 18px;
      }

      .chat-title {

      }

      .rubbish-bin-icon, .pencil-icon {

      }
    }
  }
}

.chat-block-chosen {
  background-color: rgba(255, 214, 111, 0.2) !important;
  border-color: rgba(245, 201, 80, 1) !important;
}

.model-source {
  align-self: flex-start;
  color: rgba(90, 92, 112, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: "PingFang SC", sans-serif;
  margin-bottom: 24px;
}

.left-nav-bar {
  height: 85vh;
  background-color: rgb(28, 30, 41);
  width: 22vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  margin-left: 1.5vw;
  border: rgb(51, 53, 67) 1px solid;
  border-radius: 20px 0 0 20px;
  box-sizing: border-box;

  .chat-block-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 71%;
    border-bottom: 1px rgb(51, 53, 67) solid;
    overflow: scroll;
  }

  .chat-block-list::-webkit-scrollbar {
    display: none;
  }

  .chat-button-sector {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.new-chat-button {
  margin-top: 3vh;
  width: 90%;
  height: 8vh;
  text-align: center;
  font-family: PingFang SC, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  border: 1px rgba(245, 201, 80, 1) dotted !important;
  background-color: rgb(40, 41, 52) !important;
  color: rgba(249, 249, 249, 1) !important;
}