.battle-page {
  padding: 56px 140px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 200px); // 占据整个视口高度
  .battles {
    padding: 52px 0 25px 0;
    width: 100%;
    display: flex;
    flex: 1; // 占据剩余空间
    gap: 40px;
    overflow: hidden; // 防止内部滚动条影响布局
    .battle-single-chat {
      width: 100%;
      flex: 1; // 每个BattleComponent占据相等的空间
      display: flex; // 添加display: flex
      flex-direction: column; // 让子元素垂直排列
      .single-chat-area {
        margin-top: 12px;
        flex-grow: 1; // 确保占据剩余空间
        background-color: var(--semi-color-fill-0);
        overflow-y: auto; // 内容可以垂直滚动
        border-radius: 20px;
        padding: 32px 40px 32px 40px;

        .message-container {
          margin-bottom: 12px;
        }

        .cursor {
          display: inline-block;
          width: 2px;
          height: 1.5em;
          background-color: var(--semi-color-primary);
          vertical-align: bottom;
          animation: blink 1s step-end infinite;
        }

        .hidden {
          display: none;
        }

        @keyframes blink {
          50% {
            opacity: 0;
          }
        }
      }
    }
  }

  .button-container {
    display: flex;
    width: 100%;
    gap: 36px;
    justify-content: space-between;
    margin-top: 25px;
  }

  .button-container button {
    flex: 1; /* 让按钮均分可用空间 */
    padding: 10px; /* 可选：增加按钮内边距，使其更美观 */
    box-sizing: border-box; /* 确保 padding 不会影响按钮的宽度 */
  }

  .input-area {
    margin-top: 40px;
    display: flex;
    gap: 56px;

    .semi-input-textarea {
      margin-top: 10px;
    }

    .battle-send-button {
      width: 136px;
    }
  }

  .new-round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;

    .semi-button {
      width: 383px;
    }
  }
  .bot-reply{
    .bot-chat-bubble{
      padding: 12px 20px 12px 20px;
    }
  }

}