.vote-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1.8vw;

  .sector-1, .sector-2 {
    display: flex;
    justify-content: space-between;
    gap: 1.8vw;

    * {
      width: 20vw;
      background-color: rgb(245, 201, 80);
    }
  }
}